name: docker

on:
  push:
    branches:
      - dev
    paths:
      - ./src/frontend/hosting/**

jobs:
  docker:
    permissions:
      packages: write
      contents: read
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Prepare metadata
        id: prep
        run: echo "created=$(date -u +'%Y-%m-%dT%H:%M:%SZ')" >> $GITHUB_ENV

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: ./src/frontend/hosting
          file: ./src/frontend/hosting/Dockerfile
          push: true
          tags: ghcr.io/lachstec/frontend:dev
          labels: |
            org.opencontainers.image.title=Frontend
            org.opencontainers.image.description=Server Control
            org.opencontainers.image.source=${{ github.repositoryUrl }}
            org.opencontainers.image.version=dev
            org.opencontainers.image.created=${{ steps.prep.outputs.created }}
            org.opencontainers.image.base.name=node:20
