name: docker_backend.yml
on:
  push:
    branches:
      - dev

jobs:
  docker:
    permissions:
      packages: write
      contents: read
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Sources
        uses: actions/checkout@v4

      - name: Setup QEMU for Builds
        uses: docker/setup-qemu-action@v3

      - name: Setup Docker BuildX
        uses: docker/setup-buildx-action@v3

      - name: Login to Github Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Prepare metadata
        id: prep
        run: echo "created=$(date -u +'%Y-%m-%dT%H:%M:%SZ')" >> $GITHUB_ENV

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          platforms: linux/amd64,linux/arm64/v8
          context: ./src/provisioning
          file: ./src/provisioning/Dockerfile
          push: true
          tags: ghcr.io/lachstec/provisioner:dev
          labels: |
            org.opencontainers.image.title=Provisioner
            org.opencontainers.image.description="Provisioning Service for Gameservers in the Cloud"
            org.opencontainers.image.source=${{ github.repositoryUrl }}
            org.opencontainers.image.version=dev
            org.opencontainers.image.created=${{ steps.prep.outputs.created }}
            org.opencontainers.image.base.name=node:20
